/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
}

.banner{
    color: rgb(240, 248, 255);
    text-shadow: none;
}

.credit{
    color: rgb(0, 0, 0);
}

/* Elements
--------------------------------------------- */

table{
	height: fit-content;
    border: rgb(0, 0, 0) solid 0.2rem;
}

/*--------------------------------------------------------------


# Links
--------------------------------------------------------------*/

table a,
table a:visited { 
	color: rgb(175, 9, 9);
}

/* Main
--------------------------------------------- */
.banner h1{
    background: rgba(0, 1, 0, 0.7);
    border-radius: 2rem;
}
.credit{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
    padding: 4rem;
}


