/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

.banner{
    color: rgb(240, 248, 255);
    text-shadow: none;
}

.food{
    color: rgb(0, 0, 0);
}

/* Main
--------------------------------------------- */
.banner h1{
    background: rgba(0, 1, 0, 0.7);
    border-radius: 2rem;
}

/* Media Queries */
@media (min-width: 41.813em) {

    .food-grid{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,40rem));
        grid-template-rows: minmax(0,30rem);
        gap: 1rem;
        justify-content: center;
        padding: 1rem 2rem;
    }
    .left img{
        grid-row: -2/2;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .left p{
        grid-column:-1/2;
        margin-top: -20rem;
    }

    .left h2{
        margin-top: 5rem;
    }

    .right img{
        grid-column:-1/2;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .right h2{
        grid-row: -2/2;
        margin-top: 5rem;
    }

    .right p{
        grid-row: 2/2;
        margin-top: -20rem;
    }

}