/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */

.banner{
    color: rgb(240, 248, 255);
    text-shadow: none;
}

.places-grid{
    color: rgb(245, 245, 245);
}

/* Main
--------------------------------------------- */
.banner h1{
    background: rgba(0, 1, 0, 0.7);
    border-radius: 2rem;
}
.places-grid{
    position: relative;
    display: grid;
    gap: 0.5rem;
    padding: 1.5rem;
    align-items: center;
}
.places-grid article{
    position: relative;
    height: 40rem;
}
.places-grid article img{
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	height: 40rem;
	width: 100%;
	z-index: -1; 
}
.place-info{
    margin: 0 auto;
    padding:1rem 3rem;
    background: rgba(0, 1, 0, 0.8);
}


/* Footer
--------------------------------------------- */
@media (min-width: 43.75em) {
    .places-grid{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,minmax(0,1fr));
        gap: 0.5rem;
    }

    .place-span{
        grid-column: span 2;
    }
}