/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
}

p {
	
}

.travel{
    color: #000000;
}
/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	
}

a:visited {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */


/* Main
--------------------------------------------- */
.travel{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin: 5rem 0;
}
.travel article{
    position: relative;
    width: 30rem;
    height: 30rem;
}

.travel article img{
    object-fit: cover;
    width: 100%;
    height: 20rem;
}

/* Footer
--------------------------------------------- */
