/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
.banner{
    color: rgb(240, 248, 255);
    text-shadow: none;
}

.travel{
    color: rgb(0, 0, 0);
}

/* Main
--------------------------------------------- */
.banner h1{
    background: rgba(0, 1, 0, 0.7);
    border-radius: 2rem;
}

.travel{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 10rem;
    padding: 1rem;
}

.travel article{
    margin-top: 6rem;
    position: relative;
    width: 30rem;
    height: 30rem;
}

.travel article img{
    object-fit: cover;
    width: 100%;
    height: 20rem;
}


